<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow">
        <div class="card-header">
          <h3 class="mb-0">Create New List</h3>
        </div>
        <div class="card-body">
          <%= simple_form_for @list do |f| %>
            <%= f.input :name, 
                placeholder: "Enter list name (e.g., 'My Favorite Movies', 'To Watch')",
                wrapper: :vertical_form %>
            <div class="d-flex justify-content-between">
              <%= f.button :submit, "Create List", class: "btn btn-primary" %>
              <%= link_to "Cancel", lists_path, class: "btn btn-outline-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
