// Define variables for your color scheme

// For example:
$red: #fd1015; // #FD1015 original color
$blue: #ff0000; // #0D6EFD original color
$yellow: #ffc65a; // #FFC65A original color
$orange: #e67e22; // #E67E22 original color
$green: #1edd88; // #1EDD88 original color
$gray: #0e0000; // #0E0000 original color
$light-gray: #f4f4f4; // #F4F4F4 original color
